<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <header>
    <img src="/img/zelda.png" alt="Meadowlark Travel Logo" style="width:auto ;">
  </header>
  <body>
    {{{body}}}
  </body>
</html>